/* Overall background */
body {
    background-color: #1a1a1a; /* Dark background */
    color: #f0f0f0; /* Light text color */
    font-family: Arial, sans-serif; /* Modern font */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    
}

/* Centering the content vertically and horizontally */
#maindiv {
    position: absolute;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Take full width */
    height: 100%; /* Take full height */
}

/* Styling the heading */
h1 {
    font-size: 3.5em; /* Large font size */
    margin-bottom: 20px;
    text-align: center; /* Center text */
}

/* Styling the button */
#generate {
    background-color: #004080; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
    transition: background-color 0.3s;
    margin-top: 20px; /* Spacing above the button */
}

#generate:hover {
    background-color: #003366; /* Slightly darker green on hover */
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey border */
    border-top: 4px solid #3498db; /* Blue border */
    border-radius: 50%;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Styling the input */
#nameDisplay {
    border: 2px solid #f0f0f0; /* Light border */
    border-radius: 5px;
    padding: 10px;
    margin-left: 80px;
    width: 50%; /* Input width */
    max-width: 300px; /* Maximum width */
    background-color: transparent;
    color: white;
    text-align: center;
    margin-top: 60px; /* Spacing above the input */
    font-size: 1.3em;
}

  #copyButton {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 14px 15px; /* Padding for size */
    text-align: center; /* Center text */
    padding-bottom: 12px;
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline display */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin for spacing */
    cursor: pointer; /* Cursor as pointer */
    border-radius: 5px; /* Square shape */
    width: 100px; /* Fixed width */
    overflow: hidden; /* Prevents content from spilling out */
    white-space: nowrap; /* Prevents text wrapping */
    text-overflow: ellipsis; /* Adds an ellipsis if th */
  }
  
  #copyButton:hover {
    background-color: #45a049; /* Slightly different green on hover */
  }
  
  #copyButton:active {
    animation: shake 0.5s;
  }
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(-15px); } /* Increased shake distance to left */
    50% { transform: translateX(15px); } /* Increased shake distance to right */
  }
  
  #response {
    text-align: center; /* Center aligns content */
  }
  
  #nameDisplay, #copyButton {
    margin: 20px auto; /* Auto margins for horizontal centering */
    display: block; /* Makes elements take the full width */
  }
  

/* Responsive design for smaller screens */
@media (max-width: 700px) {
    body{
        margin-top: -50px;
    }

    h1 {
        font-size: 3em;
    }

    #generate {
        font-size: 2em;
    }


    #nameDisplay {
        width: 55%;
        font-size: 1.5em;
    }

    #response {
        display: flex;
        flex-direction: column; /* Stacks elements vertically */
        align-items: center; /* Centers items horizontally in the flex container */
      }
    
      #nameDisplay, #copyButton {
        width: 80%; /* Adjust the width to fit smaller screens */
      }
}
