/* Overall background */
body {
    background-color: #1a1a1a; /* Dark background */
    color: #f0f0f0; /* Light text color */
    font-family: Arial, sans-serif; /* Modern font */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

/* Centering the content vertically and horizontally */
#maindiv {
    position: absolute;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Take full width */
    height: 100%; /* Take full height */
}

/* Styling the heading */
h1 {
    font-size: 3.5em; /* Large font size */
    margin-bottom: 20px;
    text-align: center; /* Center text */
}

/* Styling the button */
#generate {
    background-color: #004080; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
    transition: background-color 0.3s;
    margin-top: 20px; /* Spacing above the button */
}

#generate:hover {
    background-color: #003366; /* Slightly darker green on hover */
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Styling the input */
#nameDisplay {
    border: 2px solid #f0f0f0; /* Light border */
    border-radius: 5px;
    padding: 10px;
    width: 80%; /* Input width */
    max-width: 300px; /* Maximum width */
    background-color: transparent;
    color: white;
    text-align: center;
    margin-top: 50px; /* Spacing above the input */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }

    #generate {
        font-size: 2em;
    }


    #nameDisplay {
        width: 80%;
    }
}
